body {
    background-color: #FF7733;
}

h1 {
    color: #66FFB3;
}

#search {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    color: rgb(255, 0, 128);
}

#search:hover {
    width: 175px;
    height: 30px;
    border-radius: 100px;
}

h2 {
    color: rgb(85, 0, 255);
}

.category {
    font-family: Arial;
    margin-left: 5px;
    color: greenyellow;
}

.category strong {
    text-decoration: underline;
    font-size: 1.2em;
    color: red;
}

img {
    border: 8px black dotted;
    padding: 4px;
}

img:hover{
    border: 6px rgb(255, 217, 0) solid;
}

